<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base :: body">

<body>

<h2 class="mb-3">Edit Student</h2>

<form th:action="@{/students/update/{id}(id=${student.id})}" method="post">

    <div class="mb-3">
        <label>Name:</label>
        <input type="text" name="name" class="form-control"
               th:value="${student.name}" required>
    </div>

    <div class="mb-3">
        <label>Email:</label>
        <input type="email" name="email" class="form-control"
               th:value="${student.email}" required>
    </div>

    <div class="mb-3">
        <label>Course:</label>
        <input type="text" name="course" class="form-control"
               th:value="${student.course}" required>
    </div>

    <button class="btn btn-primary" type="submit">Update</button>
    <a href="/students" class="btn btn-secondary">Cancel</a>

</form>

</body>
</html>