<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{base :: head}"></head>

<body>

<nav th:replace="~{base :: navbar}"></nav>

<div class="container mt-4">

    <div style="text-align: center; margin-top: 30px;">
        <img src="/images/students.png"
             style="width:900px; height:auto; display:block; margin:auto;">
        <div class="full-bottom-curve"><</div>
        <div class="design-area">
            <div class="purple-block"></div>
            <div class="blue-block"></div>
        </div>

    </div>



</body>
</html>